<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.scss" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form method="post" action="http://localhost:8080/users/login">
            <input name="nameRoute" type="text" hidden value="">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" name="username" type="text" placeholder="Type your username....">
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" name="password" type="password" placeholder="At least 6 characters">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Login</button>
                </div>
            </div>
        </form>
        <% if(success_msg !='' ){ %>
            <p style="color: green;">
                <%= success_msg %>
            </p>
            <% } %>
                <% if(error_msg !='' ){ %>
                    <p style="color: blue;">
                        <%= error %>
                    </p>
                    <% } %>

                        <% if(error !='' ){ %>
                            <p style="color: red;">
                                <%= error %>
                            </p>

                            <% } %>
    </div>
</body>

</html>