.create-form {
    width: 20%;
    border-radius: 0.5rem;
    color: #D9AAB7;
    background-color: rgba(249, 176, 241, 0.1);
    margin: 1rem auto;
    padding: 1rem;
    form {
        .input-group {
            display: flex;
            color: black;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0.5rem 0;
        }

        .error {
            color: red;
            margin: 0;
            text-align: end;
        }
        .success {
            color: green;
            margin: 0;
            text-align: center;
        }
        
        button {
            margin: 0.5rem;
            width: 100%;
            border: 0.1rem solid rgba(249, 176, 241, 0.1);
            border-radius: 1rem;
            background-color: #D9AAB7;
            cursor: pointer;
        }
    }
    .custom-select {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0.5rem 0;
        color: black;
        select {
            // margin: 0.5rem;
            width: 100%;
        }
    }
}

.container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 0.5rem;
    .category {
        padding: 0.5rem;
        border-radius: 1rem;
        background-color: rgba(249, 176, 241, 0.1);
        .category-top {
            .cate-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 1rem;
                .category-collection {
                    color: #D9AAB7;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            .category-name {
                text-transform: uppercase;
            }
            .category-description {
                align-items: center;
                padding: 0.1rem 0 0.1rem 0;
                border-radius: 1rem;
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 0.5rem;
        .category {
            padding: 0.5rem;
            border-radius: 1rem;
            background-color: rgba(249, 176, 241, 0.1);
            .category-top {
                .category-collection {
                    color: #D9AAB7;
                    font-weight: bold;
                    font-size: 0.3rem;
                    text-transform: uppercase;
                }
                .category-name {
                    font-size: 0.5rem;
                    text-transform: uppercase;
                }
                .category-description {
                    align-items: center;
                    padding: 0.1rem 0 0.1rem 0;
                    border-radius: 1rem;
                    font-size: 0.5rem;
                }
            }
        }
    }
}

/* Popup container */
.popup {
    color:#D9AAB7;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
  
/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
  
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Add animation (fade out the popup) */
@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
  
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* The alert message box */
.alert {
    width: 30%;
    position: sticky;
    bottom: 1rem;
    left: 1rem;
    padding: 1rem;
    background-color: green;
    color: white;
    border-radius: 1rem;
    //animation
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    -webkit-animation: fadeOut 3s;
    animation: fadeOut 3s forwards;
    /* The close button */
    .closebtn {
        margin-left: 1rem;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
      
}
  