body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure the navbar is above other elements */
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a.active {
    background-color: #3498db;
    color: white;
}

.field {
    margin-bottom: 15px;
}
.create-category {
        margin-top: 100px;
        align-items: center;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    form {
        width: 33%;
    }
    .label {
        color: #333;
        font-size: 14px;
        font-weight: bold;
    }
    
    .control {
        margin-top: 8px;
    }
    
    .input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.category-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-container form {
    width: 48%;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-container button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container .error-message {
    color: #ff0000;
    margin-top: 5px;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Add animation (fade out the popup) */
@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
  
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* The alert message box */
.alert {
    width: 30%;
    position: sticky;
    bottom: 1rem;
    left: 1rem;
    padding: 1rem;
    background-color: green;
    color: white;
    border-radius: 1rem;
    //animation
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    -webkit-animation: fadeOut 3s;
    animation: fadeOut 3s forwards;
    /* The close button */
    .closebtn {
        margin-left: 1rem;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
      
}